.file {
    margin-bottom: 1rem;
}

.inputPersonalizado {
    border: 1px solid #eee;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: #eee;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
}

.inputFile {
    display: none;
}
